
#board td {
    width: 50px;
    height: 50px;
    border: solid 1px rgb(0, 0, 0);
  }
  
  .piece {
    margin: 5px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
  
  .piece.p1 {
    background-color: rgba(129, 21, 129, 0.801);
  }
  
  .piece.p2 {
    background-color: rgb(39, 189, 248);
  }
  
  #column-top td {
    border: dashed 1px gold;
  }
  
  #column-top td:hover {
    background-color: rgba(207, 59, 252, 0.493);
  }
